<div class="container">
  <h1>Bike Repayment Tracker</h1>
  <form [formGroup]="bikeForm">
    <mat-form-field appearance="outline">
      <mat-label>Bike Cost ($)</mat-label>
      <input matInput formControlName="bikeCost" type="number" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Gas Price ($/gal)</mat-label>
      <input matInput formControlName="gasPrice" type="number" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Distance (miles/day)</mat-label>
      <input matInput formControlName="distance" type="number" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fuel Efficiency (MPG)</mat-label>
      <input matInput formControlName="mpg" type="number" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tolls ($/day)</mat-label>
      <input matInput formControlName="tolls" type="number" required />
    </mat-form-field>
  </form>

  <div>
    <h2>Progress</h2>
    <mat-progress-bar
      mode="determinate"
      [value]="progressPercentage"
    ></mat-progress-bar>
    <p>{{ progressPercentage | number : "1.0-2" }}% Paid Off</p>
    <p>Total Progress: ${{ progress | number : "1.2-2" }}</p>
    <p>Daily Savings: ${{ dailySavings | number : "1.2-2" }}</p>

    <button mat-raised-button color="accent" (click)="addDayOfProgress()">
      Add Day
    </button>
    <br />
    <mat-form-field style="margin-top: 25px" appearance="outline">
      <mat-label>Days</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="overrideDays"
        (change)="updateOverrideDays()"
      />
    </mat-form-field>
  </div>
</div>
